/* ==UserStyle==
@name         hreflang Attribute Indicator
@namespace    reiche.us
@author       Jason Reiche
@version      20171123.0.1
@description  Add indicator to any element that has a hreflang attribute
@supportURL   https://github.com/jasonreiche/userstyles/issues


==/UserStyle== */
  /* Show lang attribute indicator- 
     Language Codes: https://www.w3schools.com/tags/ref_language_codes.asp
      */
  a[hreflang]:after { 
    color: #555; /* Change \ superseed to match theme as needed */
    content: " [" attr(hreflang) "]"; /* Fallback to showing hreflang as content if match isn't found below */
    vertical-align: super;
    font-size: 70%;
    } 
  a[hreflang^= 'ab']:after { content: ' [Abkhazian]'; }
  a[hreflang^= 'aa']:after { content: ' [Afar]'; }
  a[hreflang^= 'af']:after { content: ' [Afrikaans]'; }
  a[hreflang^= 'ak']:after { content: ' [Akan]'; }
  a[hreflang^= 'sq']:after { content: ' [Albanian]'; }
  a[hreflang^= 'am']:after { content: ' [Amharic]'; }
  a[hreflang^= 'ar']:after { content: ' [Arabic]'; }
  a[hreflang^= 'an']:after { content: ' [Aragonese]'; }
  a[hreflang^= 'hy']:after { content: ' [Armenian]'; }
  a[hreflang^= 'as']:after { content: ' [Assamese]'; }
  a[hreflang^= 'av']:after { content: ' [Avaric]'; }
  a[hreflang^= 'ae']:after { content: ' [Avestan]'; }
  a[hreflang^= 'ay']:after { content: ' [Aymara]'; }
  a[hreflang^= 'az']:after { content: ' [Azerbaijani]'; }
  a[hreflang^= 'bm']:after { content: ' [Bambara]'; }
  a[hreflang^= 'ba']:after { content: ' [Bashkir]'; }
  a[hreflang^= 'eu']:after { content: ' [Basque]'; }
  a[hreflang^= 'be']:after { content: ' [Belarusian]'; }
  a[hreflang^= 'bn']:after { content: ' [Bengali (Bangla)]'; }
  a[hreflang^= 'bh']:after { content: ' [Bihari]'; }
  a[hreflang^= 'bi']:after { content: ' [Bislama]'; }
  a[hreflang^= 'bs']:after { content: ' [Bosnian]'; }
  a[hreflang^= 'br']:after { content: ' [Breton]'; }
  a[hreflang^= 'bg']:after { content: ' [Bulgarian]'; }
  a[hreflang^= 'my']:after { content: ' [Burmese]'; }
  a[hreflang^= 'ca']:after { content: ' [Catalan]'; }
  a[hreflang^= 'ch']:after { content: ' [Chamorro]'; }
  a[hreflang^= 'ce']:after { content: ' [Chechen]'; }
  a[hreflang^= 'ny']:after { content: ' [Chichewa, Chewa, Nyanja]'; }
  a[hreflang^= 'zh']:after { content: ' [Chinese]'; }
  a[hreflang^= 'zh-Hans']:after { content: ' [Chinese (Simplified)]'; }
  a[hreflang^= 'zh-Hant']:after { content: ' [Chinese (Traditional)]'; }
  a[hreflang^= 'cv']:after { content: ' [Chuvash]'; }
  a[hreflang^= 'kw']:after { content: ' [Cornish]'; }
  a[hreflang^= 'co']:after { content: ' [Corsican]'; }
  a[hreflang^= 'cr']:after { content: ' [Cree]'; }
  a[hreflang^= 'hr']:after { content: ' [Croatian]'; }
  a[hreflang^= 'cs']:after { content: ' [Czech]'; }
  a[hreflang^= 'da']:after { content: ' [Danish]'; }
  a[hreflang^= 'dv']:after { content: ' [Divehi, Dhivehi, Maldivian]'; }
  a[hreflang^= 'nl']:after { content: ' [Dutch]'; }
  a[hreflang^= 'dz']:after { content: ' [Dzongkha]'; }
  a[hreflang^= 'en']:after { content: ' [English]'; }
  a[hreflang^= 'eo']:after { content: ' [Esperanto]'; }
  a[hreflang^= 'et']:after { content: ' [Estonian]'; }
  a[hreflang^= 'ee']:after { content: ' [Ewe]'; }
  a[hreflang^= 'fo']:after { content: ' [Faroese]'; }
  a[hreflang^= 'fj']:after { content: ' [Fijian]'; }
  a[hreflang^= 'fi']:after { content: ' [Finnish]'; }
  a[hreflang^= 'fr']:after { content: ' [French]'; }
  a[hreflang^= 'ff']:after { content: ' [Fula, Fulah, Pulaar, Pular]'; }
  a[hreflang^= 'gl']:after { content: ' [Galician]'; }
  a[hreflang^= 'gd']:after { content: ' [Gaelic (Scottish)]'; }
  a[hreflang^= 'gv']:after { content: ' [Gaelic (Manx)]'; }
  a[hreflang^= 'ka']:after { content: ' [Georgian]'; }
  a[hreflang^= 'de']:after { content: ' [German]'; }
  a[hreflang^= 'el']:after { content: ' [Greek]'; }
  a[hreflang^= 'kl']:after { content: ' [Greenlandic]'; }
  a[hreflang^= 'gn']:after { content: ' [Guarani]'; }
  a[hreflang^= 'gu']:after { content: ' [Gujarati]'; }
  a[hreflang^= 'ht']:after { content: ' [Haitian Creole]'; }
  a[hreflang^= 'ha']:after { content: ' [Hausa]'; }
  a[hreflang^= 'he']:after { content: ' [Hebrew]'; }
  a[hreflang^= 'hz']:after { content: ' [Herero]'; }
  a[hreflang^= 'hi']:after { content: ' [Hindi]'; }
  a[hreflang^= 'ho']:after { content: ' [Hiri Motu]'; }
  a[hreflang^= 'hu']:after { content: ' [Hungarian]'; }
  a[hreflang^= 'is']:after { content: ' [Icelandic]'; }
  a[hreflang^= 'io']:after { content: ' [Ido]'; }
  a[hreflang^= 'ig']:after { content: ' [Igbo]'; }
  a[hreflang^= 'id']:after { content: ' [Indonesian]'; }
  a[hreflang^= 'in']:after { content: ' [Indonesian]'; }
  a[hreflang^= 'ia']:after { content: ' [Interlingua]'; }
  a[hreflang^= 'ie']:after { content: ' [Interlingue]'; }
  a[hreflang^= 'iu']:after { content: ' [Inuktitut]'; }
  a[hreflang^= 'ik']:after { content: ' [Inupiak]'; }
  a[hreflang^= 'ga']:after { content: ' [Irish]'; }
  a[hreflang^= 'it']:after { content: ' [Italian]'; }
  a[hreflang^= 'ja']:after { content: ' [Japanese]'; }
  a[hreflang^= 'jv']:after { content: ' [Javanese]'; }
  a[hreflang^= 'kl']:after { content: ' [Kalaallisut, Greenlandic]'; }
  a[hreflang^= 'kn']:after { content: ' [Kannada]'; }
  a[hreflang^= 'kr']:after { content: ' [Kanuri]'; }
  a[hreflang^= 'ks']:after { content: ' [Kashmiri]'; }
  a[hreflang^= 'kk']:after { content: ' [Kazakh]'; }
  a[hreflang^= 'km']:after { content: ' [Khmer]'; }
  a[hreflang^= 'ki']:after { content: ' [Kikuyu]'; }
  a[hreflang^= 'rw']:after { content: ' [Kinyarwanda (Rwanda)]'; }
  a[hreflang^= 'rn']:after { content: ' [Kirundi]'; }
  a[hreflang^= 'ky']:after { content: ' [Kyrgyz]'; }
  a[hreflang^= 'kv']:after { content: ' [Komi]'; }
  a[hreflang^= 'kg']:after { content: ' [Kongo]'; }
  a[hreflang^= 'ko']:after { content: ' [Korean]'; }
  a[hreflang^= 'ku']:after { content: ' [Kurdish]'; }
  a[hreflang^= 'kj']:after { content: ' [Kwanyama]'; }
  a[hreflang^= 'lo']:after { content: ' [Lao]'; }
  a[hreflang^= 'la']:after { content: ' [Latin]'; }
  a[hreflang^= 'lv']:after { content: ' [Latvian (Lettish)]'; }
  a[hreflang^= 'li']:after { content: ' [Limburgish ( Limburger)]'; }
  a[hreflang^= 'ln']:after { content: ' [Lingala]'; }
  a[hreflang^= 'lt']:after { content: ' [Lithuanian]'; }
  a[hreflang^= 'lu']:after { content: ' [Luga-Katanga]'; }
  a[hreflang^= 'lg']:after { content: ' [Luganda, Ganda]'; }
  a[hreflang^= 'lb']:after { content: ' [Luxembourgish]'; }
  a[hreflang^= 'gv']:after { content: ' [Manx]'; }
  a[hreflang^= 'mk']:after { content: ' [Macedonian]'; }
  a[hreflang^= 'mg']:after { content: ' [Malagasy]'; }
  a[hreflang^= 'ms']:after { content: ' [Malay]'; }
  a[hreflang^= 'ml']:after { content: ' [Malayalam]'; }
  a[hreflang^= 'mt']:after { content: ' [Maltese]'; }
  a[hreflang^= 'mi']:after { content: ' [Maori]'; }
  a[hreflang^= 'mr']:after { content: ' [Marathi]'; }
  a[hreflang^= 'mh']:after { content: ' [Marshallese]'; }
  a[hreflang^= 'mo']:after { content: ' [Moldavian]'; }
  a[hreflang^= 'mn']:after { content: ' [Mongolian]'; }
  a[hreflang^= 'na']:after { content: ' [Nauru]'; }
  a[hreflang^= 'nv']:after { content: ' [Navajo]'; }
  a[hreflang^= 'ng']:after { content: ' [Ndonga]'; }
  a[hreflang^= 'nd']:after { content: ' [Northern Ndebele]'; }
  a[hreflang^= 'ne']:after { content: ' [Nepali]'; }
  a[hreflang^= 'no']:after { content: ' [Norwegian]'; }
  a[hreflang^= 'nb']:after { content: ' [Norwegian bokmål]'; }
  a[hreflang^= 'nn']:after { content: ' [Norwegian nynorsk]'; }
  a[hreflang^= 'ii']:after { content: ' [Nuosu]'; }
  a[hreflang^= 'oc']:after { content: ' [Occitan]'; }
  a[hreflang^= 'oj']:after { content: ' [Ojibwe]'; }
  a[hreflang^= 'cu']:after { content: ' [Old Church Slavonic, Old Bulgarian]'; }
  a[hreflang^= 'or']:after { content: ' [Oriya]'; }
  a[hreflang^= 'om']:after { content: ' [Oromo (Afaan Oromo)]'; }
  a[hreflang^= 'os']:after { content: ' [Ossetian]'; }
  a[hreflang^= 'pi']:after { content: ' [Pāli]'; }
  a[hreflang^= 'ps']:after { content: ' [Pashto, Pushto]'; }
  a[hreflang^= 'fa']:after { content: ' [Persian (Farsi)]'; }
  a[hreflang^= 'pl']:after { content: ' [Polish]'; }
  a[hreflang^= 'pt']:after { content: ' [Portuguese]'; }
  a[hreflang^= 'pa']:after { content: ' [Punjabi (Eastern)]'; }
  a[hreflang^= 'qu']:after { content: ' [Quechua]'; }
  a[hreflang^= 'rm']:after { content: ' [Romansh]'; }
  a[hreflang^= 'ro']:after { content: ' [Romanian]'; }
  a[hreflang^= 'ru']:after { content: ' [Russian]'; }
  a[hreflang^= 'se']:after { content: ' [Sami]'; }
  a[hreflang^= 'sm']:after { content: ' [Samoan]'; }
  a[hreflang^= 'sg']:after { content: ' [Sango]'; }
  a[hreflang^= 'sa']:after { content: ' [Sanskrit]'; }
  a[hreflang^= 'sr']:after { content: ' [Serbian]'; }
  a[hreflang^= 'sh']:after { content: ' [Serbo-Croatian]'; }
  a[hreflang^= 'st']:after { content: ' [Sesotho]'; }
  a[hreflang^= 'tn']:after { content: ' [Setswana]'; }
  a[hreflang^= 'sn']:after { content: ' [Shona]'; }
  a[hreflang^= 'ii']:after { content: ' [Sichuan Yi]'; }
  a[hreflang^= 'sd']:after { content: ' [Sindhi]'; }
  a[hreflang^= 'si']:after { content: ' [Sinhalese]'; }
  a[hreflang^= 'ss']:after { content: ' [Siswati]'; }
  a[hreflang^= 'sk']:after { content: ' [Slovak]'; }
  a[hreflang^= 'sl']:after { content: ' [Slovenian]'; }
  a[hreflang^= 'so']:after { content: ' [Somali]'; }
  a[hreflang^= 'nr']:after { content: ' [Southern Ndebele]'; }
  a[hreflang^= 'es']:after { content: ' [Spanish]'; }
  a[hreflang^= 'su']:after { content: ' [Sundanese]'; }
  a[hreflang^= 'sw']:after { content: ' [Swahili (Kiswahili)]'; }
  a[hreflang^= 'ss']:after { content: ' [Swati]'; }
  a[hreflang^= 'sv']:after { content: ' [Swedish]'; }
  a[hreflang^= 'tl']:after { content: ' [Tagalog]'; }
  a[hreflang^= 'ty']:after { content: ' [Tahitian]'; }
  a[hreflang^= 'tg']:after { content: ' [Tajik]'; }
  a[hreflang^= 'ta']:after { content: ' [Tamil]'; }
  a[hreflang^= 'tt']:after { content: ' [Tatar]'; }
  a[hreflang^= 'te']:after { content: ' [Telugu]'; }
  a[hreflang^= 'th']:after { content: ' [Thai]'; }
  a[hreflang^= 'bo']:after { content: ' [Tibetan]'; }
  a[hreflang^= 'ti']:after { content: ' [Tigrinya]'; }
  a[hreflang^= 'to']:after { content: ' [Tonga]'; }
  a[hreflang^= 'ts']:after { content: ' [Tsonga]'; }
  a[hreflang^= 'tr']:after { content: ' [Turkish]'; }
  a[hreflang^= 'tk']:after { content: ' [Turkmen]'; }
  a[hreflang^= 'tw']:after { content: ' [Twi]'; }
  a[hreflang^= 'ug']:after { content: ' [Uyghur]'; }
  a[hreflang^= 'uk']:after { content: ' [Ukrainian]'; }
  a[hreflang^= 'ur']:after { content: ' [Urdu]'; }
  a[hreflang^= 'uz']:after { content: ' [Uzbek]'; }
  a[hreflang^= 've']:after { content: ' [Venda]'; }
  a[hreflang^= 'vi']:after { content: ' [Vietnamese]'; }
  a[hreflang^= 'vo']:after { content: ' [Volapük]'; }
  a[hreflang^= 'wa']:after { content: ' [Wallon]'; }
  a[hreflang^= 'cy']:after { content: ' [Welsh]'; }
  a[hreflang^= 'wo']:after { content: ' [Wolof]'; }
  a[hreflang^= 'fy']:after { content: ' [Western Frisian]'; }
  a[hreflang^= 'xh']:after { content: ' [Xhosa]'; }
  a[hreflang^= 'ji']:after { content: ' [Yiddish]'; }
  a[hreflang^= 'yi']:after { content: ' [Yiddish]'; }
  a[hreflang^= 'yo']:after { content: ' [Yoruba]'; }
  a[hreflang^= 'za']:after { content: ' [Zhuang, Chuang]'; }
  a[hreflang^= 'zu']:after { content: ' [Zulu]'; }
